@charset "UTF-8";
body > div {
  margin: 2em;
  position: relative;
}

body > div > h1, h2 {
  position: relative;
  left: -1em
}

h1, h2 {
	margin: 10px;
}

h2 {
	margin-top: 18px;
}

.about {
  display: -webkit-box;
}

.text {
  font-size: 9pt;
}

.importantText{
  color: rgb(195, 12, 35);
  font-weight: bold;
}

.buttonArea button {
  margin-left: 10px;
}

.buttonArea #delete{
  margin-left: 50px;
}

.radioArea input[type="radio"] {
  width         : 10pt;
  height        : 10pt;
  vertical-align: top;
  margin-left: 10px;
}

 .tableArea {
  margin         : auto;
  border-collapse: collapse;
  border-spacing : 0;
  font-size      : 9pt;
  background     : #ffffff;
  width: 100%;
  table-layout: fixed;
}

.tableArea th {
  text-align    : center;
  padding       : 5px;
  border        : 1px #666666 solid;
  background    : #cccccc;
}

.tableArea th.select{
  width: 35px;
}

.tableArea td {
  padding       : 5px;
  border        : 1px #666666 solid;
  cursor        : pointer;
  width          : 100%;
  word-wrap: break-word;
}

.tableArea td:nth-of-type(1) {
  text-align: center;
}

.tableArea tr:hover {
  background    : #cccccc;
  color         : #000000;
}