@charset "UTF-8";
.radioArea input[type="radio"] {
  width         : 10pt;        /* 大きさ：横 */
  height        : 10pt;        /* 大きさ：縦 */
  vertical-align: top;         /* 並び位置   */
}
 /* --- テーブル全体のスタイル指定 --------------- */
 .tableArea {
  margin         : auto;             /* 自動位置   */
  border-collapse: collapse;         /* 境界線結合 */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 9pt;              /* 文字サイズ */
  background     : #ffffff;          /* テーブル全体の背景色 */
}
 /* --- ヘッダーのスタイル指定 ------------------- */
.tableArea th {
  text-align    : center;            /* 文字位置  */
  padding       : 5px;               /* 余白      */
  border        : 1px #666666 solid; /* 罫線      */
  background    : #cccccc;           /* 背景色    */
}
 /* --- テーブルのスタイル指定 ----------------------- */
.tableArea td {
  padding       : 5px;               /* 余白      */
  border        : 1px #666666 solid; /* 罫線      */
  cursor        : pointer;           /* カーソル  */
}
 /* --- セルにカーソルが乗ったとき --------------- */
.tableArea tr:hover {
  background    : #cccccc;           /* 背景色    */
  color         : #000000;           /* 文字色    */
}
 /* --- チェックボックスがチェックされたとき(使われてない) --------------- */
.tableArea input[type="checkbox"]:checked + .tableArea tr {
  background    : #ff7f50;           /* 背景色    */
  color         : #ffffff;           /* 文字色    */
}